@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
}

#test {
	height: calc(100vh - 1.5rem);
}
